@import url("../common/css/green.css");

.radio {
  box-sizing: border-box;
  margin-bottom: var(--margin-large);
  margin-top: var(--margin-small);
  text-align: center;
}

.canvas {
  box-sizing: border-box;
  margin-bottom: var(--margin-small);
  text-align: center;
}

.menu {
  box-sizing: border-box;
}

.content:after {
  clear: both;
  content: "";
  display: block;
}

.image {
  box-sizing: border-box;
  float: left;
  margin: 0;
  padding: 0;
}

.icon {
  box-sizing: border-box;
  height: var(--size-icon-small);
  image-rendering: pixelated;
  width: var(--size-icon-small);
}

.link {
  border: solid var(--width-line-narrow) var(--color-moegiiro);
  box-sizing: border-box;
  float: none;
  font-size: var(--font-size-medium);
  height: var(--size-icon-small);
  margin-bottom: var(--margin-small);
  margin-left: var(--size-icon-small);
  text-align: center;
  vertical-align: middle;
  width: auto;
}

.link:hover {
  background-color: var(--color-ukoniro);
}

.link a {
  display: block;
  padding: var(--padding-link-small);
  text-decoration: none;
}

.link a:link {
  color: var(--color-kurobeni);
}

.link a:visited {
  color: var(--color-kurobeni);
}

.link a:hover {
  color: var(--color-kurobeni);
}

.link a:active {
  color: var(--color-kurobeni);
}

@media (min-width: 600px) {
  .menu:after {
    clear: both;
    content: "";
    display: block;
  }

  .icon {
    height: var(--size-icon-large);
    width: var(--size-icon-large);
  }

  .link {
    font-size: var(--font-size-large);
    height: var(--size-icon-large);
    margin-left: var(--size-icon-large);
    width: auto;
  }

  .link a {
    padding: var(--padding-link-large);
  }
}

@media (min-width: 960px) {
  .radio {
    margin-left: var(--margin-medium);
    margin-right: var(--margin-medium);
  }

  .menu:after {
    clear: both;
    content: "";
    display: block;
  }

  .content {
    float: left;
    margin: var(--margin-medium);
  }

  .link {
    width: var(--width-link);
  }
}
