@import url("../../common/css/green.css");

.contents {
  margin-bottom: var(--height-footer-small-with-margin);
  margin-top: var(--height-header-small-with-margin);
}

.content {
  box-sizing: border-box;
  margin-bottom: var(--margin-small);
  margin-top: var(--margin-small);
}

.icon {
  box-sizing: border-box;
  text-align: center;
  width: 100%;
}

.image {
  height: var(--size-image-small);
  width: var(--size-image-small);
}

.label {
  background-color: var(--color-moegiiro);
  box-sizing: border-box;
  color: var(--color-kinariiro);
  text-align: center;
  width: var(--width-label-small);
}

.cell {
  padding-bottom: var(--padding-small);
  padding-top: var(--padding-small);
}

@media (min-width: 600px) {
  .contents {
    margin-bottom: var(--height-footer-large-with-margin);
    margin-top: var(--height-header-large-with-margin);
  }

  .image {
    height: var(--size-image-large);
    width: var(--size-image-large);
  }

  .label {
    width: var(--width-label-medium);
  }

  .cell {
    padding-bottom: var(--padding-medium);
    padding-top: var(--padding-medium);
  }
}

@media (min-width: 960px) {
  .contents:after {
    clear: both;
    content: "";
    display: block;
  }

  .content {
    margin-left: var(--margin-small);
    margin-right: var(--margin-small);
  }

  .content:after {
    clear: both;
    content: "";
    display: block;
  }

  .icon {
    float: left;
    margin: 0;
    width: var(--size-image-large);
  }

  .wrapper {
    box-sizing: border-box;
    float: none;
    margin-bottom: 0;
    margin-left: var(--size-image-large);
    margin-right: 0;
    margin-top: 0;
    width: auto;
  }
}
