@import url("../../common/css/green.css");

.contents {
  margin-bottom: var(--height-footer-small-with-margin);
  margin-top: var(--height-header-small-with-margin);
}

.content {
  box-sizing: border-box;
  margin-bottom: var(--margin-small);
  margin-top: var(--margin-small);
}

.label {
  background-color: var(--color-moegiiro);
  box-sizing: border-box;
  color: var(--color-kinariiro);
  text-align: center;
  width: var(--width-label-large);
}

.cell {
  padding-bottom: var(--padding-small);
  padding-top: var(--padding-small);
}

@media (min-width: 600px) {
  .contents {
    margin-bottom: var(--height-footer-large-with-margin);
    margin-top: var(--height-header-large-with-margin);
  }

  .cell {
    padding-bottom: var(--padding-medium);
    padding-top: var(--padding-medium);
  }

  .label {
    width: var(--width-label-large);
  }
}

@media (min-width: 960px) {
  .contents:after {
    clear: both;
    content: "";
    display: block;
  }

  .content {
    margin-left: var(--margin-small);
    margin-right: var(--margin-small);
  }

  .content:after {
    clear: both;
    content: "";
    display: block;
  }
}
