.content {
  box-sizing: border-box;
  margin-bottom: 36px;
  margin-top: 36px;
}

.indent {
  padding-left: 48px;
}

.canvas {
  background-color: #302833;
  text-align: center;
}

.wrapper {
  width: 100%;
}

.formula {
  box-sizing: border-box;
  margin-bottom: 36px;
}

.parameters {
  box-sizing: border-box;
  margin-bottom: 36px;
}

.usage {
  box-sizing: border-box;
}

@media (min-width: 960px) {
  .contents {
    margin-bottom: 96px;
    margin-top: 96px;
  }

  .content {
    margin-left: 16px;
    margin-right: 16px;
  }

  .content:after {
    clear: both;
    content: "";
    display: block;
  }

  .canvas {
    background-color: #302833;
    box-sizing: border-box;
    float: left;
    margin: 0;
    width: 500px;
  }

  .wrapper {
    box-sizing: border-box;
    float: none;
    height: auto;
    margin-bottom: 0;
    margin-left: 500px;
    margin-right: 0;
    margin-top: 0;
    width: auto;
  }
}
