@import url("../../common/css/green.css");

.content {
  box-sizing: border-box;
  margin-bottom: var(--margin-large);
  margin-top: var(--margin-large);
}

.indent {
  padding-left: var(--width-indent);
}

.canvas {
  background-color: var(--color-kurobeni);
  text-align: center;
}

.wrapper {
  width: 100%;
}

.formula {
  box-sizing: border-box;
  margin-bottom: var(--margin-large);
}

.parameters {
  box-sizing: border-box;
  margin-bottom: var(--margin-large);
}

.usage {
  box-sizing: border-box;
}

@media (min-width: 960px) {
  .contents {
    margin-bottom: var(--height-footer-large-with-margin);
    margin-top: var(--height-header-large-with-margin);
  }

  .content {
    margin-left: var(--margin-medium);
    margin-right: var(--margin-medium);
  }

  .content:after {
    clear: both;
    content: "";
    display: block;
  }

  .canvas {
    background-color: var(--color-kurobeni);
    box-sizing: border-box;
    float: left;
    margin: 0;
    width: var(--width-canvas);
  }

  .wrapper {
    box-sizing: border-box;
    float: none;
    height: auto;
    margin-bottom: 0;
    margin-left: var(--width-canvas);
    margin-right: 0;
    margin-top: 0;
    width: auto;
  }
}
