:root {
  --color-gofuniro: #fffffc;
  --color-kinariiro: #fbfaf5;
  --color-kurobeni: #302833;
  --color-moegiiro: #006e54;
  --color-nyuhakushoku: #f3f3f3;
  --color-ukoniro: #fabf14;
  --column-gap-medium: 16px;
  --column-gap-large: 32px;
  --font-size-large: 32px;
  --font-size-medium: 16px;
  --font-size-small: 12px;
  --height-footer-large: 80px;
  --height-footer-large-with-margin: calc(var(--height-footer-large) + 16px);
  --height-footer-small: 40px;
  --height-footer-small-with-margin: calc(var(--height-footer-small) + 8px);
  --height-header-large: 80px;
  --height-header-large-with-margin: calc(var(--height-header-large) + 16px);
  --height-header-small: 40px;
  --height-header-small-with-margin: calc(var(--height-header-small) + 8px);
  --height-th: 32px;
  --height-tr: 50px;
  --margin-large: 32px;
  --margin-medium: 16px;
  --margin-small: 8px;
  --padding-large: 20px;
  --padding-link-large: 12px;
  --padding-link-small: 6px;
  --padding-medium: 8px;
  --padding-small: 4px;
  --size-icon-large: 64px;
  --size-icon-small: 32px;
  --size-image-large: 250px;
  --size-image-small: 150px;
  --width-canvas: 500px;
  --width-indent: 48px;
  --width-label-large: 200px;
  --width-label-medium: 180px;
  --width-label-small: 120px;
  --width-line-narrow: 1px;
  --width-link: 326px;
  --width-smartphone: 600px;
  --width-tablet: 960px;
}
